{% extends 'base.html' %}
{% block content %}
{% from "includes/_formhelpers.html" import render_field %}
<form method="POST" novalidate>
    {{ form.csrf_token }}
    <div class="form-group">
        {{ render_field(form.email, class_="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.username, class_="form-control" )}}
    </div>
    <div class="form-group">
        {{ render_field(form.password, class_="form-control" )}}
    </div>
    <div class="form-group">
        {{ render_field(form.confirm_password, class_="form-control" )}}
    </div>
    <p><input type="submit" value="Submit" class="btn btn-primary btn-block"></p>
</form>
{% endblock %}